body {
    /*
    background-image: url(assets/darkbg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*background: color image repeat position/size */
    background: url(assets/darkbg.png) no-repeat top center/cover;  
}

#container {
    border: 1px solid red;
    width: 360px;
    height: 712px;
    margin: auto;
}
#img {
    margin: auto;
}